# Advent of Code 2023

## Day 9 -- Mirage Maintenance (Part 2)

## Author: Chris Kimber

The instructions for this problem can be found at https://adventofcode.com/2023/day/9.

In this problem, part 2 is quite similar to part 1. The change is that instead of working through the input row from left to right and extrapolating the rightmost value, the goal is to work from right to left and extrapolate the leftmost value.

Initial data ingestion and prcessing is the same.

In [58]:
with open("input", "r") as f:
    input_file = f.read().splitlines()

In [59]:
input_list = [x.split(" ") for x in input_file]

In [60]:
input_list = [[int(n) for n in sublist] for sublist in input_list]

In [37]:
input_list

[[0, 3, 6, 9, 12, 15], [1, 3, 6, 10, 15, 21], [10, 13, 16, 21, 30, 45]]

As a trick, the order of the rows is then reversed before running the recursive function.

In [61]:
input_list = [sublist[::-1] for sublist in input_list]

In [39]:
input_list

[[15, 12, 9, 6, 3, 0], [21, 15, 10, 6, 3, 1], [45, 30, 21, 16, 13, 10]]

The logic of the recursive function is similar to part 1, with the same stopping condition. The order of subtraction is reversed so the signs match that of the example. When extrapolating, the last value of a given row is then subtracted from the last value of the row above rather than added.

In [40]:
from itertools import pairwise

In [68]:
def extrapolate_value(row):
    if all(n == 0 for n in row):
        return 0
    
    next_row = [x-y for x, y in pairwise(row)]
    #print(next_row)
    output = extrapolate_value(next_row)
    #print(output)
    #print(row[-1])
    return row[-1] - output

In [69]:
extrapolate_value(input_list[0])

9

As in part 1, the extrapolated values for all the input rows are found and then summed; this is the answer to the problem!

In [70]:
sum_values = sum([extrapolate_value(row) for row in input_list])

In [71]:
sum_values

1012