# Advent of Code 2023

## Day 9 -- Mirage Maintenance (Part 1)

## Author: Chris Kimber

The instructions for this problem can be found at https://adventofcode.com/2023/day/9.

Thanks to assorted users on the subreddit for giving some hints to try recursion for this. It's a programming approach that I struggle with a lot of the time (never learned formally etc.) and it was a good opportunity to learn more about how it worked by applying it in this problem.

Boilerplate to load in the data, split it by line, convert each row to a sublist of integers.

In [59]:
with open("input_example", "r") as f:
    input_file = f.read().splitlines()

In [60]:
input_file

['0 3 6 9 12 15', '1 3 6 10 15 21', '10 13 16 21 30 45']

In [61]:
input_list = [x.split(" ") for x in input_file]

In [62]:
input_list = [[int(n) for n in sublist] for sublist in input_list]

In [63]:
input_list

[[0, 3, 6, 9, 12, 15], [1, 3, 6, 10, 15, 21], [10, 13, 16, 21, 30, 45]]

The pairwise differences could be handled with indexing but this seemed perfect for the pairwise() function in itertools. It's there, so why not use it to simplify things?

In [64]:
from itertools import pairwise

In [65]:
[y-x for x,y in pairwise(input_list[2])]

[3, 3, 5, 9, 15]

The following recursive function does all the extrapolation. There are multiple options for the stopping condition but here the one matching the problem writeup is used; all values in a row being 0. For each row, the next row is calculated using pairwise to iterate over pairs and take the difference between each value and the value previous. The extrapolated values are then calculated as the last value in the newest row added to the last value calculated in the row previous, until the value of the first row is extrapolated and returned by the function.

In [80]:
def extrapolate_value(row):
    if all(n == 0 for n in row):
        return 0
    
    next_row = [y-x for x, y in pairwise(row)]
    print(next_row)
    output = extrapolate_value(next_row)
    print(output)
    #print(row[-1])
    return row[-1] + output

In [81]:
extrapolate_value(input_list[2])

[3, 3, 5, 9, 15]
[0, 2, 4, 6]
[2, 2, 2]
[0, 0]
0
2
8
23

68

In [39]:
input_list[0][-1]

15

The sum of the extrapolated values for each of the input rows is calculated after iterating through all the input rows; this is the answer to the problem!

In [57]:
sum_values = sum([extrapolate_value(row) for row in input_list])

In [58]:
sum_values

1992273652